.explore {
    width: 296px;
    height: 19px;
    color: #931e1d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 0;
}


.filters-reset-button {
    color: #515151;
    text-decoration: underline;
    /* position: 'absolute';
    right: 0; */
}

.filters-reset-button p {
    font-family: 'Open Sans';
    font-size: 14px;
}

.filters-reset-button:hover {
    color: #931e1d;
}

.MuiToolbar-gutters {
    padding: 0 !important;
}
.MuiTableCell-sizeSmall  {
	width: auto !important;
}



.react-daterange-picker {
    display: inline-flex;
    position: relative;
}

.react-daterange-picker,
.react-daterange-picker *,
.react-daterange-picker *:before,
.react-daterange-picker *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-daterange-picker--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
}

.react-daterange-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    /* border: thin solid gray; */
    /* width: 145px; */
    height: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    border: 1px solid #979797;
    background-color: #ffffff;
}

.react-daterange-picker__inputGroup {
    /* min-width: calc((4px * 3) +  0.54em * 8  +  0.217em * 2); */
    width: auto;
    height: 100%;
    flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.react-daterange-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
}

.react-daterange-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    font: inherit;
    box-sizing: content-box;
    -moz-appearance: textfield;
}

.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.react-daterange-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
}

.react-daterange-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px + 0.54em);
}

.react-daterange-picker__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;
}

.react-daterange-picker__button:enabled {
    cursor: pointer;
}

.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
.react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
    stroke: #0078d7;
}

.react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
    stroke: #6d6d6d;
}

.react-daterange-picker__button svg {
    display: inherit;
}

.react-daterange-picker__calendar {
    width: 350px;
    max-width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 11;
}

.react-daterange-picker__calendar--closed {
    display: none;
}

.react-daterange-picker__calendar .react-calendar {
    border-width: thin;
}



.react-calendar {
    width: 350px;
    max-width: 100%;
    /* background: white;
    border: 1px solid #a0a096; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    border: 1px solid #979797;
    background-color: #ffffff;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
    font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}


/** Fix table body **/
.MuiTableCell-body {
	padding: 1px 7px;
}
.MuiTableCell-root {
	font-size: 13px !important;
}


/** Fix table header  */
#table-header {
	margin-top: 10px;
}
#table-header > div {
	margin-bottom: 10px;
}

/** Fix input */
.MuiInputBase-root.MuiInput-underline {
	/* border-bottom: none !important; */
}
.MuiInput-root .MuiInput-input {
	padding-left:7px;
	padding-right:7px;
}
.MuiInputBase-root.MuiInput-underline::after {
	display: none;
}
.MuiInputBase-root.MuiInput-underline::before {
	display: none;
}

/** Fix dropdown */
.MuiMenu-list .MuiCheckbox-root {
	padding:2px;
}
.MuiSelect-select.MuiSelect-select {
	padding-left: 10px;
}

.filters-reset-button > p{
	font-size: 12px;
}

/** Mobile CSS overrides **/
@media screen and (max-width: 599px) {

	/** Fix map **/
	svg.rsm-svg {
		overflow: visible;
	}
	svg.rsm-svg text {
		/* font-size: 28px !important;
		line-height: 1 !important; */
		transform: scale(1.5, 1.5)
	}
	svg.rsm-svg g.rsm-marker.rsm-marker--box > g {
		transform: scale(2, 1.7) translate(-54px, -43px);
	}
	svg.rsm-svg g.rsm-marker > g.rsm-disk-marker {
		transform: translate(-2x, -3x);
	}

	/** Fix legend **/
	#legend {
		justify-content: flex-start;
	}
	#legend .MuiGrid-item {
		max-width: 50%;
		flex-grow: 1;
	}

	/** Fix totals **/
	#totals-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	#totals-container p {
		position: static !important;
	}

	/** Fix table headers **/
	#table-header {
		margin-left: -10px;
	}

}

/** Force date to be on one line only **/
table.MuiTable-root td:first-child {
	white-space: nowrap;
}
/** Force payer to be on one line only **/
table.MuiTable-root td:nth-child(2) {
	white-space: nowrap;
}