.explore {
    width: 296px;
    height: 19px;
    color: #931e1d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 24px;
  }

  
  .filters-reset-button {
    width: 30;
    color: #515151;
    text-decoration: underline;
    /* position: 'absolute';
    right: 0; */
  }
  
  .filters-reset-button:hover {
    color: #931e1d;
  }